// импорт переменных
@import "../../../../../assets/Variables/Variables.scss";
// основные стили
.AddQuetions {
  font-family: Outfit;
  &_container {
    width: 100vw;
    height: 230vh;
    background: rgba(16, 16, 16, 0.54);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_box {
    min-width: 840px;
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 15px;
    padding: 40px;
    position: relative;
    h1 {
      font-family: Outfit;
      font-size: 32px;
      font-weight: 400;
      color: $black;
      text-align: center;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 35px;
      justify-content: center;
    }
  }
}
.AddQuetions_container.active {
  opacity: 1;
  visibility: visible;
}
// ========
//   FORM
// ========
.From {
  &_inputFile {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 30px;
    &__text {
      display: flex;
      position: relative;
      max-width: 540px;
      width: 100%;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-size: 16px;
        font-weight: 300;
        color: $Caption-gray;
        text-align: left;
      }
    }
    &__file {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      h1 {
        text-align: center;
        color: $Light_gray;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  &_selectMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h1 {
      font-size: 16px;
      color:$Caption-gray;
      font-weight: 300;
      text-align: left;
    }
  }
  &_form{
    position: relative;
    display: flex;
    align-items:center;
  }
  &_btn{
    display: flex;
    background:none;
    cursor: pointer;
  }
}
.input.input_errors {
  border: 1px solid $Error;
}
.input {
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: $black;
  border: 1px solid $Gray-Border;
  border-radius: 10px;
  padding: 10px 20px;
}
.errors {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: $Error;
}
.btn_File {
  position: relative;
  top: 0;
  right: 0;
  border-radius: 35px;
  border: 1px solid $blue_2;
  cursor: pointer;
  background: none;
  padding: 10px 50px;
  color: $black;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 35px;
}
// ========
// select
// ========