// Variables
$Main_Pading: 10px;
$blue_2: #56a6f9;
$gray: #d9d9d9;
$white: #fcfcfc;
$clearWhite: #fff;
$black: #000000;
$backgroundGradient: linear-gradient(126deg, #71c1f4 -21%, #3161bc 77.48%);
$backgroundGradientHover: linear-gradient(
  126deg,
  #77c6f9 -21%,
  #1e51a9 77.48%,
  #1d51ab 77.48%
);
$backgroundGradientDIMATOP: linear-gradient(
  to right,
  #71c1f4,
  #3161bc,
  #3161bc,
  #71c1f4
);
$boxShadowHover: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
$Light_gray: #8a8a8a;
$Light_gray-2: #bfbfbf;
$Gray-tags-2: #f4f4f4;
$Gray-Border: #ddd;
$Caption-gray: #c8c8c8;
$Error: #c42;
$Sand: #ffca61;
